li {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #80808085;
    margin-bottom: 14px;
    border-radius: 10px;
    box-shadow: #000000b3 5px 5px 16px 0px;
}

.todoItemContainer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-section {
    margin: 0 0 0 10px;
    transition: transform 0.25s;
    transform: scale(2.0);
    cursor: pointer;
    accent-color: #ffffff;
}

.checkbox-section:hover {
    transform: scale(2.1);
    fill: rgb(103, 171, 103);
}


.todo-text {
    margin: 10px 0px;
}

.todo-text-check--active {
    text-decoration: line-through;
    color: rgb(169, 169, 169);
}

.Icon-delete {
    width: 30px;
    cursor: pointer;
    transition: transform 0.25s;
    transform: scale(1.5);
}

.Icon-delete:hover {
    transform: scale(1.6);
    color: rgb(252, 157, 157);
}